.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 500, 700;
    font-style: normal;}
                
        
.raleway{ 
    font-family: "Raleway", sans-serif;
     font-optical-sizing: auto;
     font-weight: 700;
     font-style: normal;}

body{font-family: "Roboto", sans-serif;
background-color: #fff;
color: #434455;}

ul, ol{list-style-type: none;}

.logo{text-decoration: none;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
color: #4d5ae5;
letter-spacing: 0.03em;
text-transform: uppercase;}
.logo-accent{color: #2e2f42}

.link {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link:hover,.link:focus{color: #404BBF;}
.kontakt-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.kontakt{font-style: normal}
.kontakt-link:hover, .kontakt-link:focus{color: #404BBF;}
.main{
    background: #2e2f42;}

.main-title{font-weight: 700;
    font-size: 56px;
line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}
    .order-btn{line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
    cursor: pointer;}
    .order-btn:hover, .order-btn:focus{background-color: #404BBF;}
.advantages>h2{line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}
.advantages-title{font-weight: 500;
    font-size: 20px;}
    .advantages-text{font-weight: 400;
        font-size: 16px;color: #434455;
    line-height: 1.5;
letter-spacing: 0.02em;}

.team{background: #f4f4fd;}
.title-head{text-align: center;font-weight: 700;
    font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42
}
    .team-name{font-weight: 500;
        font-size: 20px;text-align: center;
    line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}
        .team-text{font-weight: 400;
            font-size: 16px;
        text-align: center;
            line-height: 1.5;
        letter-spacing: 0.02em;}
            .team-page{
                background: #fff;}

.portfolio-name{font-weight: 500;
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}
    .portfolio-text{font-weight: 400;
        font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.02em;}



.end{background: #2e2f42;
color: #f4f4fd;}




.foot-logo{color: #f4f4fd;}
.foot-text{letter-spacing: 0.02em;
line-height: 1.5;}