.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 500, 700;
    font-style: normal;
    font-variation-settings:
        }
                
        
.raleway{ 
    font-family: "Raleway", sans-serif;
     font-optical-sizing: auto;
     font-weight: 700;
     font-style: normal;}

body{font-family: "Roboto", sans-serif;
background-color: #fff;
color: #434455;}

ul, ol{list-style-type: none;}

.logo{text-decoration: none;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
color: #4d5ae5;
letter-spacing: 0.03em;
text-transform: uppercase;}

.link {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
}
.link:hover{color: #404BBF;}
.kontakt{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    font-style: normal
}
.main{
    background: #2e2f42;}

.main-title{font-weight: 700;
    font-size: 56px;
line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}
    .order{line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
    cursor: pointer;}
    .order:hover{background-color: #404BBF;}

.advantages-title{font-weight: 500;
    font-size: 20px;}
    .advantages-text{font-weight: 400;
        font-size: 16px;color: #434455;}

.team{background: #f4f4fd;}
.title-head{text-align: center;font-weight: 700;
    font-size: 36px;}
    .team-name{font-weight: 500;
        font-size: 20px;text-align: center;}
        .team-text{font-weight: 400;
            font-size: 16px;
        text-align: center;
            color: #434455;}
            .team-page{
                background: #fff;}

.portfolio-name{font-weight: 500;
    font-size: 20px;}
    .portfolio-text{font-weight: 400;
        font-size: 16px;
    color: #434455;}



.end{background: #2e2f42;
color: #f4f4fd;}